{% extends 'base.html.twig' %}

{% block title %}Axe{% endblock %}

{% block body %}
    <h1 class="text-center m-2 p-2">Axe</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ axe.id }}</td>
                <td>{{ axe.nom }}</td>
                <td>
                    <a href="{{ path('axe_edit', {'id': axe.id}) }}" class="text-warning">Modifier</a>
                    {{ include('axe/_delete_form.html.twig') }}
                </td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('axe_index') }}" class="text-warning">Retour à la ligne</a>

{% endblock %}
