{% extends 'base.html.twig' %}

{% block title %}Ecole index{% endblock %}

{% block body %}
    <h1 class="text-center p-2 m-2">Liste des écoles</h1>

    <table class="table">
        <thead>
            <tr>
                {# <th>Id</th> #}
                <th>Nom</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ecole in ecoles %}
            <tr>
                {# <td>{{ ecole.id }}</td> #}
                <td>{{ ecole.nom }}</td>
                <td>
                    <a href="{{ path('ecole_show', {'id': ecole.id}) }}" class="text-warning">Afficher</a>
                    <a href="{{ path('ecole_edit', {'id': ecole.id}) }}" class="text-warning">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Aucune donnée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="text-center">
    <a href="{{ path('ecole_new') }}" class="btn btn-outline-warning">Ajouter une école</a>
    </div>
{% endblock %}
